<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Mudiaga's portfolio</title>
  <link rel='stylesheet' href='stylesheets/home.css' />
  <link rel='icon' href='images/favicon.png'/>
</head>
<body>
  <!--Main Nav-->
  <nav>
      <a href="#">Career Portfolio</a>
      <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
      </button>
      <div id="navbarSupportedContent">
        <ul>
          <li>
            <a href="/Home">Home</a>
          </li>
          <li>
            <a href="/Aboutme">About</a>
          </li>
          <li>
            <a href="/Services">Services</a>
          </li>
          <li>
            <a href="/Contactme">Contact Me</a>
          </li>
        </ul>
      </div>
  </nav>

  <main style="justify-content: center;">
  <section id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <br><br>
          <img src="/public/images/pfp2.jpg" alt="author" class="img-fluid w-40 rounded-lg border-thick border-white rounded float-end drag-lg-top">
          <h1>
            Hello There!!!<br>Welcome to my portfolio.<br>My name is Mudiaga Otojareri. <br> A software engineer with the passion of developing user and performance friendly software solutions.<br> 
            I've spent 5 years improving my skills and working on a variety of projects.
            <br>
            <a href="/Aboutme" class="btn btn-transparent">Click here to know more</a>
          </h1>
        </div>
      </div>
      <br><br>
    </div>
  </section>
</main>


    <!--Scripting-->
    <script src="/public/javascripts/home.js"></script>
</body>
<footer>
  <div>
    <div>
      <br>
      <div>
        <div>
          <h5>Email</h5>
          <p>otomudiaga@gmail.com</p>
        </div>
        <div>
          <h5>Phone</h5>
          <p>(647) 619 9502</p>
        </div>
        <div>
          <h5>Address</h5>
          <p>111 Bathurst Street, Toronto ON, Canada</p>
        </div>
      </div><br><br>
    </div>
  </div>
  <div>
    <p>Copyright &copy;
      <script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> Designed &amp; Developed by <a href="Mudiaga">Mudiaga Otojareri</a></p>
  </div>
</footer>
</html>
