<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='stylesheets/home.css' />
  <link rel='icon' href='images/favicon.png'/>
</head>
<body>

    <!--Main Nav-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Career Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link "  href="/Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Aboutme">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/Services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/Contactme">Contact Me</a>
        </li>
      </ul>
    </div>
</nav>

    <section class="page-title-alt bg-primary position-relative">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <br>
              <h1 class="text-white font-tertiary">My Services</h1>
            </div>
          </div>
        </div>

        <div class="container">
            <div class="row">
              <div class="col-lg-4 col-sm-6 mb-4">
                <article class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title"><a class="text-dark" href="https://github.com/mudiiiiii/IBM-s-Historical-Prices-Prediction" >Python Language</a>
                    </h4>
                  </div>
                </article>
              </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                  <article class="card shadow">
                    <div class="card-body">
                      <h4 class="card-title"><a class="text-dark" >React & API Programming</a>
                      </h4>
                    </div>
                  </article>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                  <article class="card shadow">
                    <div class="card-body">
                      <h4 class="card-title"><a class="text-dark" href="https://github.com/mudiiiiii/Booksand-AuthorsAPI" >C# Programming</a>
                      </h4>
                    </div>
                  </article>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                  <article class="card shadow">
                    <div class="card-body">
                      <h4 class="card-title"><a class="text-dark" >Microsoft Office - Word, Access, Powerpoint, Excel </a>
                      </h4>
                    </div>
                  </article>
                </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                <article class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title"><a class="text-dark" href="https://github.com/mudiiiiii/CommentForm"  >Sripting Languages - Javascript, Bash, Powershell </a>
                    </h4>
                  </div>
                </article>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                <article class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title"><a class="text-dark" href="https://github.com/mudiiiiii/myCentennialRepo" >Web Development- HTML, BOOSTRAP, CSS </a>
                    </h4>
                  </div>
                </article>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                <article class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title"><a class="text-dark" href="https://github.com/mudiiiiii" >Database Language - Oracle SQL, MySQL, RDS, DynamoDB, MongoDB </a>
                    </h4>
                  </div>
                </article>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                <article class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title"><a class="text-dark " href="https://github.com/mudiiiiii/Microservice" >Software Development: ASP.NET, Docker, Git, .NET Framework, .NET Core, Eureka </a>
                    </h4>
                  </div>
                </article>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                <article class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title"><a class="text-dark" href="https://www.instagram.com/trademark__pics/"  >Landscape, Macro, Journalism, or Portrait Photography and Film-Making Videography</a>
                    </h4>
                  </div>
                </article>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                <article class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title"><a class="text-dark" >Adobe Photoshop & Video editing </a>
                    </h4>
                  </div>
                </article>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                <article class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title"><a class="text-dark" >Architectural Drawing </a>
                    </h4>
                  </div>
                </article>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                <article class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title"><a class="text-dark" href="https://github.com/mudiiiiii/Android-Appllication"  >Java Programming</a>
                    </h4>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>

    <script src="/public/javascripts/home.js"></script>
</body>

<footer>
  <div>
    <div>
      <br>
      <div>
        <div>
          <h5>Email</h5>
          <p>otomudiaga@gmail.com</p>
        </div>
        <div>
          <h5>Phone</h5>
          <p>(647) 619 9502</p>
        </div>
        <div>
          <h5>Address</h5>
          <p>111 Bathurst Street, Toronto ON, Canada</p>
        </div>
      </div><br><br>
    </div>
  </div>
  <div>
    <p>Copyright &copy;
      <script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> Designed &amp; Developed by <a href="Mudiaga">Mudiaga Otojareri</a></p>
  </div>
</footer>
</html>